<VirtualHost *:{{ http_port }}}>
    DocumentRoot {{ document_root }}/wordpress
    <Directory {{ document_root }}/wordpress>
        Options FollowSymLinks
        AllowOverride Limit Options FileInfo
        DirectoryIndex index.php
        Require all granted
    </Directory>
    <Directory {{ document_root }}wordpress//wp-content>
        Options FollowSymLinks
        Require all granted
    </Directory>
</VirtualHost>